body, html
{
	height: 100%;
}

.categoryBuilder
{
	width: 70%;
	height: 100%;
	float: left;
}

.toolbar
{
	width: 30%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #0f0;
}

.formBrick
{
	padding: 20px;
}

.formBrick input[type="text"]
{
	font-size: 18pt;
	width: 600px;
}

#categoryForm
{
	width: 700%;
}

	#categoryForm .formBrick
	{
		width: 100%;
	}